@import "tailwindcss";
@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
    --color-slate-50: #f8fafc;
    --color-slate-100: #f1f5f9;
    --color-slate-200: #e2e8f0;
    --color-slate-300: #cbd5e1;
    --color-slate-400: #94a3b8;
    --color-slate-500: #64748b;
    --color-slate-600: #475569;
    --color-slate-700: #334155;
    --color-slate-800: #1e293b;
    --color-slate-900: #0f172a;

    --color-amber-50: #fffbeb;
    --color-amber-100: #fef3c6;
    --color-amber-200: #fee685;
    --color-amber-300: #fcd34d;
    --color-amber-400: #fbbf24;
    --color-amber-500: #f59e0b;
    --color-amber-600: #d97706;
    --color-amber-700: #bb4d00;
    --color-amber-800: #9c3600;
    --color-amber-900: #7b3306;

    --color-orange-500: #f97316;

    --color-red-100: #ffe3e3;
    --color-red-400: #f87171;
    --color-red-500: #ef4444;
    --color-red-600: #dc2626;

    --color-blue-400: #60a5fa;
    --color-blue-500: #3b82f6;

    --color-purple-500: #8b5cf6;
    --color-green-400: #4ade80;
    --color-pink-500: #ec4899;

    --default-transition-duration: 300ms;
}

:root.dark {
    background-color: #0f172a;
}